@page
@model ErrorModel
@{
    ViewData["Title"] = "Chyba";
}

<h1 class="text-danger">Ajaj.</h1>
<h2 class="text-danger">Na naší stránce nastaly nějaké problémy, moc se omlouváme a určitě je už s manželem řešíme. Držte nám palce, ať stránku co nedříve zase rozjedeme.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
