@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login: <a href="http://localhost:5214/Account/Login">http://localhost:5214/Account/Login</a>.</p>
    <p>Kategorie: <a href="http://localhost:5214/Admin/Categories">http://localhost:5214/Admin/Categories</a>.</p>

</div>
