@model Zodpovedne.Contracts.DTO.CommentDto

<h4>AHOJ</h4>
<div class="card mb-3">

    @* Použít existující kód pro vykreslení komentáře z Discussion.cshtml *@
    @* ... zkopírovat existující HTML pro jeden komentář ... *@
</div>
