@page "/katalog/hracky"
@using Zodpovedne.Contracts.DTO;
@model KatalogDetailDto;
@{
    ViewData["Title"] = "Hračky";
}

<div class="mainBanner">
    <div class="mainBannerPicture">
        <p class="mw-60">
            <span class="checkmark">&#10003; <i class="bi bi-arrow-clockwise"></i></span> Pečlivě vybrané produkty<br> <span class="checkmark">&#10003;</span> Zdraví nezávadné  <br>
            <span class="checkmark">&#10003;</span> Ověřeno rodiči
        </p>
        <div class="underlineGraphic"></div>
    </div>
</div>
<div class="container col-12" style="bg-transparent">
    <h1 class="mb-4 mt-4" style="color: var(--text-gray);">Hračky pro děti</h1>
    <div class="row">
        @{
            await Html.RenderPartialAsync("_HrackaPartial", new KatalogDetailDto("Kladivko", "Pro zatloukani hracek", "url obrazku", 20, "url do obchodu"));
        }

        <div class="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-4 border rounded-0 bg-transparent"
             onmouseover="this.classList.add('shadow'); this.classList.add('bg-white');"
             onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
            <div class="card-header rounded-0 bg-transparent">
                <h5 class="card-title mb-0">Edukativní dřevěné kostky</h5>
            </div>
            <img src="https://picsum.photos/400/300" class="card-img-top rounded-0" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="badge" style="background-color: var(--primary-pink)">Věk: 3+</span>
                    <span class="text-success fw-bold">399 Kč</span>
                </div>
                <button class="btn btn-primary mt-2 w-100">Přejít do obchodu</button>
            </div>
        </div>
        <div class="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-3 border rounded-0 bg-transparent"
             onmouseover="this.classList.add('shadow'); this.classList.add('bright-white');"
             onmouseout="this.classList.remove('shadow'); this.classList.remove('bright-white');">
            <img src="https://picsum.photos/400/300" class="card-img-top" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>
        </div>
        <div class="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-3 border rounded-0 bg-transparent"
             onmouseover="this.classList.add('shadow'); this.classList.add('bright-white');"
             onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
            <img src="https://picsum.photos/400/300" class="card-img-top" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-3 border rounded-0 bg-transparent"
             onmouseover="this.classList.add('shadow'); this.classList.add('bright-white');"
             onmouseout="this.classList.remove('shadow'); this.classList.remove('bright-white');">
            <img src="https://picsum.photos/400/300" class="card-img-top" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>
        </div>
        <div class="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-3 border rounded-0 bg-transparent"
             onmouseover="this.classList.add('shadow'); this.classList.add('bg-white');"
             onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
            <img src="https://picsum.photos/400/300" class="card-img-top" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>
        </div>
        <div class ="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-3 border rounded-0 bg-transparent"
                  onmouseover="this.classList.add('shadow'); this.classList.add('bg-white');"
                  onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
            <img src="https://picsum.photos/400/300" class="card-img-top" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>
        </div>
        <div class="card h-100 col-lg-3 col-md-6 col-sm-12 mb-4 p-3 border rounded-0 bg-transparent"
             onmouseover="this.classList.add('shadow'); this.classList.add('bg-white');"
             onmouseout="this.classList.remove('shadow'); this.classList.remove('bg-white');">
            <img src="https://picsum.photos/400/300" class="card-img-top" alt="Dřevěné kostky">
            <div class="card-body">
                <h5 class="card-title">Edukativní dřevěné kostky</h5>
                <p class="card-text">Sada 50 dřevěných kostek v různých barvách pro rozvoj motoriky a kreativity vašeho dítěte.</p>
            </div>

        </div>
    </div>

</div>