@page "/Account/Login"
@model Zodpovedne.Web.Pages.Account.LoginModel

<div class="container">
    <div class="">
        <div class="col-md-4">
            <h2>Přihlášení</h2>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }

            <form method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Heslo</label>
                    <input asp-for="Input.Password" type="password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Přihlásit</button>
            </form>
        </div>
    </div>
</div>