@page
@model Zodpovedne.Web.Pages.Account.RegisterAdminModel
@{
    ViewData["Title"] = "Registrace admina";

    //Pokud je jakýkoliv text v ErrorMessage, tak se zobrazí a zbytek stránky se nevykreslí
    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-warning">
            <h4>@Model.ErrorMessage</h4>
        </div>
        return;
    }
}

<div class="container">
    <div class="col-md-6">
        <h2>Registrace nového admina</h2>

        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <div class="alert alert-success">@Model.SuccessMessage</div>
        }

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }

        <form method="post">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Nickname" class="form-label">Přezdívka</label>
                <input asp-for="Input.Nickname" class="form-control" />
                <span asp-validation-for="Input.Nickname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label">Heslo</label>
                <input asp-for="Input.Password" type="password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <a href="@Model.ReturnUrl" class="btn btn-secondary">Zpět</a>
                <button type="submit" class="btn btn-primary">Založit</button>
            </div>
        </form>
    </div>
</div>